<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Word</title>
    <link rel="stylesheet" href="{% static 'cards_app/index.css' %}">
    <link rel="stylesheet" href="{% static 'cards_app/add_word.css' %}">
</head>
<body>

    <div class="center">
        <div class="card-box">
            <h2 class="form-title">Add a New Word</h2>
            <form method="POST" action="{% url 'add_word' %}">
                {% csrf_token %}
                
                <input type="text" id="eng_word" name="eng_word" placeholder="English word" required class="input-field">
                <input type="text" id="ukr_word" name="ukr_word" placeholder="Ukrainian word" required class="input-field">

                <div class="button-row">
                    <button type="submit" class="btn true">Add</button>
                    <a href="{% url 'index_page' %}">
                        <button type="button" class="btn false">Cancel</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
