<!-- cards_app/templates/cards_app/draft.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Draft Card</title>
</head>
<body>
    <p>{{ random_card.eng_word }}</p>

    <details>
        <summary>Show Translation</summary>
        <p>{{ random_card.ukr_word }}</p>
    </details>

    <div>
        <a href="{% url 'revision' random_card.id 'true' %}">
            <button>True</button>
        </a>
        <a href="{% url 'revision' random_card.id 'false' %}">
            <button>False</button>
        </a>
    </div>
</body>
</html>
