<!-- cards_app/templates/cards_app/draft.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Draft</title>
    <link rel="stylesheet" href="{% static 'cards_app/index.css' %}">
    <link rel="stylesheet" href="{% static 'cards_app/draft.css' %}">
</head>
<body>
    <div class="top-bar">
        <a href="{% url 'index' %}" class="top-link left">Home</a>
    </div>

    <div class="center">
        <div class="card-box">
            <h2 class="eng-word">{{ random_card.eng_word }}</h2>
            
            <details class="translation-box">
                <summary>Show Translation</summary>
                <p>{{ random_card.ukr_word }}</p>
            </details>

            <div class="button-row">
                <a href="{% url 'revision' random_card.id 'true' %}">
                    <button class="btn true">✅</button>
                </a>
                <a href="{% url 'revision' random_card.id 'false' %}">
                    <button class="btn false">❌</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
