<!-- cards_app/edit_word.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Word</title>
</head>
<body>
    <h1>Edit Word</h1>
    <form method="POST" action = "{% url 'editWord' card.id %}">
        {% csrf_token %}
        <label for="eng_word">English Word:</label><br>
        <input type="text" id="eng_word" name="eng_word" value="{{ card.eng_word }}" required><br><br>
        
        <label for="ukr_word">Ukrainian Word:</label><br>
        <input type="text" id="ukr_word" name="ukr_word" value="{{ card.ukr_word }}" required><br><br>
        
        <button type="submit">Edit</button>
    </form>
    <a href = "{% url 'index' %}"><button>Cancel</button></a>
</body>
</html>
