<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Cards</title>
        <link rel="stylesheet" href="{% static 'cards_app/word.css' %}">
    </head>
<body>
    <div class="top-bar">
        <a href="{% url 'words' %}" class="top-link left">Words</a>
        <a href="{% url 'add' %}" class="top-link right">Add</a>
    </div>

    <div class="center">
        <a href="{% url 'draft' %}">
            <button class="draft-btn">Draft</button>
        </a>
    </div>
</body>
</html>
