<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Words List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cards_app/words.css' %}">
</head>
<body>
    <div class="top-bar">
        <a href="{% url 'index_page' %}" class="top-link">Home</a>
    </div>

    <div class="page-content">
        <div class="words-container">
            <h1>Words List
            </h1>
            <ul class="word-list">
                {% for word in words %}
                <li class="word-item">
                    <div class="word-card">
                        <div class="word-content">
                            <p><strong>English Word:</strong> {{ word.eng_word }}</p>
                            <p><strong>Ukrainian Word:</strong> {{ word.ukr_word }}</p> 
                        </div>
                
                        <div class="word-actions">
                            <div class="edit-link">
                                <a href="{% url 'edit_word_page' word.id %}" class="action-link">✏️</a>
                            </div>
                            <div class="delete-link-container">
                                <form method="POST" action="{% url 'delete_word' word.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="action-link delete-link">🗑️</button>
                                </form>
                            </div>
                
                        </div>
                    </div>
                </li>
                {% empty %}
                    <p>No words available.</p>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
